<section class="signin">
    <form class="form_signup" (ngSubmit)="signin()" method="post">
        <h2>Connecte toi !</h2>
        <p *ngIf="wrongPassword" style="color: rgb(155, 30, 30); font-family: 'Roboto', sans-serif; font-weight: 700;">Tu as écris un mauvais pseudo ou mot de passe !</p>
        
        <div [class.wrong]="wrongPassword" class="element-input">
            <div class="item-cont"><img src="./../../assets/img/user.svg" class="img-item" alt="icone pseudo"></div>
            <input [(ngModel)]="pseudo" class="large input" type="text" name="input" required="required" placeholder="Pseudo" />
        </div>

        <div class="element-password">
            <div class="item-cont"><img src="./../../assets/img/padlock.svg" class="img-item" alt="icone pseudo"></div>
            <input [(ngModel)]="password" class="large input" type="password" name="password" value="" required="required" placeholder="" />
        </div>

        <a class="submit" id="jaune" (click)="signin()"><img src="./../../assets/img/arrow.svg" alt="submit"></a>

    </form>
</section>