<section class="home">
  <div class="display_logo">
    <div class="display_sea">
      <a id="fleche" href="#pannel"><img src="./../../assets/img/arrow.svg" alt="fleche"></a>
    </div>
    <div class="column" id="pannel">
      <h2>Accueil</h2>
      <div class="menu_flex">
        <div class="menu_button">
          <h3 class="h3_accueil">Documentation</h3>
          <a href="#doc_anchor"><img src="./../../assets/img/faq.svg" alt="îcone d'informations"></a>
        </div>
        <div class="menu_button">
          <h3 class="h3_accueil">Jeux</h3>
          <a routerLink="/jeu-origine"><img src="./../../assets/img/surface1.svg" alt="îcone d'informations"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="documentation" id="doc_anchor">
  <div class="un">
    <h2 style="margin-top: 0;">Documentation</h2>

    <h3>Cartons</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/box.svg" alt="carton">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/box_of_tissue.svg" alt="boite de mouchoir"
          style="height: 13vh; padding-top: 1rem;">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/milk.svg" alt="brique de lait">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/orange-juice.svg" alt="brique de jus">
      </div>
    </div>

    <h3>Métal</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/iron_ingot.svg" alt="metal">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/can.svg" alt="boite de conserve">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/soda_can.svg" alt="canette de soda">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/aerosol.svg" alt="aerosol">
      </div>
    </div>

    <h3>Plastique</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/plastic.svg" alt="plastique">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/cup.svg" alt="gobelet">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plastic_bottle.svg" alt="bouteille en plastique">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plastic_packaging.svg" alt="embalage plastique">
      </div>
    </div>

    <h3>Papier</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/paper_recycled.svg" alt="papier">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/newspaper.svg" alt="journal">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/magazine.svg" alt="magazine">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plus.svg" alt="plus" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/paper.svg" alt="feuilles en papiers">
      </div>
    </div>

  </div>

  <div class="vague_1"></div>

  <div class="deux">
    <h2>Tri Sélectif</h2>

    <h3>Recyclable</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/box_destroyed.svg" alt="carton">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/can.svg" alt="metal">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/plastic_bottle.svg" alt="plastique">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/newspaper.svg" alt="papier">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/recycle_yellow_and_blue.svg" alt="conteneur jaune">
      </div>
    </div>

    <h3>Verre</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/glass.svg" alt="verre">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/glass_bottle.svg" alt="verre2">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/jelly.svg" alt="verre3">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/jam.svg" alt="verre4">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/butter.svg" alt="verre5">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/recycle_green.svg" alt="conteneur vert">
      </div>
    </div>

    <h3>Autres déchets</h3>
    <div class="doc_block_small">
      <div class="doc_img_small">
        <img src="./../../assets/img/branch.svg" alt="branche">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/clothes.svg" alt="vetements">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/battery.svg" alt="batterie de voiture">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/electrom.svg" alt="electroménager">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
      </div>
      <div class="doc_img_small">
        <img src="./../../assets/img/dechetterie.png" alt="panneau dechetterie">
      </div>
    </div>
  </div>

  <div class="vague_2"></div>

  <div class="trois">
    <h2 style="margin-bottom: 4rem;">Recyclage</h2>
    <img src="./../../assets/img/transformation_dechets.png" style="max-width: 100%; margin-bottom: 10vh;"
      alt="transformation dechets">

    <div class="doc_block_large">
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/glass_bottle.svg" alt="bouteille en verre">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/glass_bottle.svg" alt="bouteille en verre recyclé">
          </div>
        </div>
        <p>Le verre est nettoyé et parfois fondu pour créer de nouvelles bouteilles</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/plastic_bottle.svg" alt="plastique">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/sweater.svg" alt="polaire">
          </div>
        </div>
        <p>Le plastique est broyé puis refondu en petits fils qui servent à faire des vêtements.</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/tire.svg" alt="pneu">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/flowers.svg" alt="bac à fleurs">
          </div>
        </div>
        <p>Les pneus sont broyés, fondus puis moulés en tant que bac à fleur.</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/newspaper.svg" alt="journal">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/toilet_paper.svg" alt="papier toilette">
          </div>
        </div>
        <p>Le papier est broyé puis compacté en petites feuilles. Cela créé du papier toilettes.</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/soda_can.svg" alt="canette de soda">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/bicycle.svg" alt="velo">
          </div>
        </div>
        <p>Les canettes sont broyées puis fondues pour créer un vélo.</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/milk.svg" alt="brique de lait">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/box.svg" alt="carton">
          </div>
        </div>
        <p>Les briques en carton sont broyées puis compressées pour créer des grands cartons.</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/can.svg" alt="brique de lait">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/vehicule_pieces.svg" alt="carton">
          </div>
        </div>
        <p>Les boites de conserves sont broyés puis fondus pour créer des pièces de voiture.</p>
      </div>
      <div class="doc_large_container">
        <div class="doc_img_container">
          <div class="doc_img_large">
            <img src="./../../assets/img/newspaper.svg" alt="journal">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/equal.svg" alt="equal" class="symbol">
          </div>
          <div class="doc_img_large">
            <img src="./../../assets/img/eggs.svg" alt="boite d'oeufs">
          </div>
        </div>
        <p>Les journaux sont broyés et compressés pour créer des boîtes d'œufs.</p>
      </div>
    </div>
  </div>
