
@font-face {
    font-family: 'Chewy';
    src: url('./../../assets/font/Chewy/Chewy-Regular.ttf') format('trutype');
}
.documentation {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.column {
    background-color: #3C8580;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Chewy', cursive;
    font-size: 3vh;
    color: rgb(92, 92, 92);
}

h2 {
    font-family: 'Chewy', cursive;
    font-size: 10vh;
    color: rgb(248, 216, 74);
    text-shadow: 1px 1px 2px rgb(95, 95, 95);

    margin-bottom: 0.2rem;
}

h3 {
    font-family: 'Chewy', cursive;
    font-size: 5vh;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(95, 95, 95);

    margin-bottom: 0;
}

h5 {
    font-family: 'Chewy', cursive;
    font-size: 1rem;
    margin: 0;
}

.un {
    background-color: #3C8580;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.deux {
    background-color: #57C4CA;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.trois {
    background-color: #7CF8F6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doc_block_small {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;


    width: 85vw;
    height: 20vh;

    padding: 3%;

    background-color: white;
    -webkit-border-radius: 50px 15px 15px 15px;
    -moz-border-radius: 50px 15px 15px 15px;
    border-radius: 50px 15px 15px 15px;
}

.doc_img_small {}

.doc_img_small img {
    height: 15vh;

    display: flex;
    justify-content: center;
    align-content: center;

}

.doc_block_large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 85vw;

    padding: 3%;
    margin-bottom: 5%;

    background-color: white;
    -webkit-border-radius: 50px 15px 15px 15px;
    -moz-border-radius: 50px 15px 15px 15px;
    border-radius: 50px 15px 15px 15px;
}

.doc_large_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    padding: 2.5% 0 2.5% 0;
}

.doc_large_container p {
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    margin: 3% 2% 0 3%;
    width: 50%;
}

.doc_img_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    width: 50%;
}

.doc_img_large {}

.doc_img_large img {
    height: 15vh;
    width: 11vw;
}

.vague_1 {
    background-image: url(./../../assets/img/vague.svg);
    height: 20vh;
    width: 100%;

    margin:0;
    padding:0;

    position: relative;
    float: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.vague_2 {
    background-image: url(./../../assets/img/vague2.svg);
    height: 20vh;
    width: 100%;

    margin:0;
    padding:0;

    position: relative;
    float: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.symbol {
    max-height: 13vh;
}

@media screen and (min-width: 1100px) {
    .vague_1, .vague_2 {
        height: 30vh;
    }
}

/* Accueil */
.display_logo {
    background-image: url(./../../assets/img/logo.svg);
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.display_sea {
    background-image: url(./../../assets/img/petiteile.svg);
    height: 100vh;
    margin-top: 57vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#fleche {
    position: absolute;
    top: 20vh;
    left: 50%;
    right: 50%;
    transform: rotate(90deg);
}

#fleche img {
    height: 6rem;
    animation: bounce 4s infinite;
}

@keyframes bounce {
    0% { height: 6rem; }
    5% { height: 8rem; }
    10% { height: 6rem; }
    100% { height: 6rem; }
}

.menu_flex {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    height: 60vh;
    background-color: #3C8580;
}

.menu_button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media screen and (min-width: 1100px) {
    .display_sea {
        margin-top:55vh;
    }
}

.ptit   {
    height: 10%;
}


.h3_accueil h3 {
    font-family: 'Chewy', cursive;
    font-size: 5vh;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(95, 95, 95);
    text-align: center;
    margin-bottom: 0;
}

