<header>
        <div class="home_button">
          <a href="#home"><img src="./../../assets/img/home.svg" alt="icon maison" class="home"></a>
        </div>
        <div class="search_bar_box">
          <div class="search_bar_icon"><img src="./../../assets/img/search.svg" alt="icon loupe"></div>
          <input type="search" placeholder="Écris ici pour te renseigner !" name="search_bar" class="search_bar_input" />
        </div>
        <div *ngIf="!this.user" class="avatar_button">
          <a routerLink="login-choice"><img src="./../../assets/img/key_login.svg" alt="avatar" class="avatar"></a>
        </div>
        <div *ngIf="this.user" class="avatar_button">
          <a routerLink="profile"><img src="{{ this.user.avatar }}" alt="avatar" class="avatar"></a>
        </div>
</header>