/*
* {
    border: 2px solid black; // Debug X-ray
}
*/

/*** Header ***/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    max-height: 20vh;
    width: 100%;
    z-index: 10 ;
    background-color: #FDFBF8;
    -webkit-box-shadow: 0px 0px 8px 2px #969696;
    -moz-box-shadow: 0px 0px 8px 2px #969696;
    box-shadow: 0px 0px 8px 2px #969696;
}

.avatar {
    height: 15vh;
    margin: 1.2rem 1.2rem;
}

.home {
    height: 15vh;
    margin: 1.2rem 1.2rem;
}

.search_bar_box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    border-radius: 0.6rem;
    border: 1.1px solid #707070;
    background-color: white;
}

.search_bar_icon img {
    height: 8vh;
}

.search_bar_icon {
    padding: 0.6rem;
    margin: 0;
}

header input {
    -webkit-appearance: none;

    height: 8vh;
    width: 50vw;
    margin: 0 1rem 0 0;

    padding-inline-start: 1rem;
    border: none;
    font-size: 1.6rem;
    color: #707070;
}

header input:focus {
    outline: none;
}

header ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    height: 100%;

    color: #dbdbdb;
    opacity: 1;
    font-size: 1.6rem;
    text-align: center;
    /* Firefox */
}

header :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dbdbdb;
    font-size: 1.6rem;
    text-align: center;
}

header ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dbdbdb;
    font-size: 1.6rem;
    text-align: center;
}

