<section id="jeux">
    <div id="start_game" *ngIf="this.question === undefined">
        <a id="button_start" (click)="start()">Commencer à jouer !</a>
    </div>
    <div id="game_container" *ngIf="this.question !== undefined">
        <h4>À partir de quel matériau recyclé l'objet <span id="game_question">{{this.question.question.name}}</span> est fabriqué(e) ?</h4>
        <div id="containerDevinette">
            <div class="container_origine_answers" *ngFor="let answer of answers; let i = index" (click)="answerQuestion(i)">
                <div class="display_img_origine_answers">
                    <img class="img_origine_answers" src="{{answer.image}}" alt="{{answer.name}}">
                </div>
                <p>{{answer.name}}</p>
            </div>
        </div>
        <div id="answerContainer">
            <div class="display_img_origine_answers">
                <img class="img_origine_answers" src="{{question.question.image}}" alt="{{question.question.name}}">
            </div>
            <p>{{question.question.name}}</p>
        </div>
        <div id="hint_bin">
            <img id="rbin" src="./../../assets/img/recycle_green.svg" alt="poubelle">
            <a (click)="hint()" id="hint"><img src="./../../assets/img/faq.svg" alt="indice"></a>
        </div>
    </div>

    <div *ngIf="showHint" id="phint">
            <div class="endGame">
                <p>{{question.question.indice}}</p>
                <img src="./../../assets/img/information.svg" alt="info" id="info">
                <a (click)="hint()" class="buttonAnswer4"><img src="./../../assets/img/arrow.svg" alt="fermer"></a>
            </div>
        </div>

    <div *ngIf="this.goodAnswer" id="goodAnswer">
        <div class="answerDisplay1">
            <p class="answerh4">Bonne réponse !</p>
            <p>Ton score: {{score}}/10</p>
            <img src="./../../assets/img/positive.svg" alt="bravo" id="bravo">
            <a (click)="getQuestion()" class="buttonAnswer1"><img src="./../../assets/img/arrow.svg" alt="continuer"></a>
        </div>
    </div>

    <div *ngIf="this.badAnswer" id="badAnswer">
        <div class="answerDisplay2">
            <p class="answerh4">Mauvaise réponse !</p>
            <p>Ton score: {{score}}/10</p>
            <p>La bonne réponse était:</p>
            <img src="{{question.goodAnswer.image}}" alt="{{question.goodAnswer.name}}">
            <a (click)="getQuestion()" class="buttonAnswer2"><img src="./../../assets/img/arrow.svg" alt="continuer"></a>
            <img id="bad" src="./../../assets/img/error.svg" alt="bad">
        </div>
    </div>

    <div *ngIf="this.round > 10" id="scoreDisplay">
        <div class="endGame">
            <p class="answerh4">Fini !</p>
            <p>Score final : {{score}}/10</p>
            <a (click)="finishGame()" class="buttonAnswer3"><img src="./../../assets/img/arrow.svg" alt="continuer"></a>
            <img id="thumbsup" src="./../../assets/img/like.svg" alt="pouce bleu">
        </div>
    </div>

    <div class="bg_nature">
        <img id="nature" src="./../../assets/img/nature_tree.svg" alt="illustration nature">
    </div>

</section>