#start_game {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30vh;
}

#button_start {
    transition: 0.2s;
    padding: 2rem;
    border-radius: 50px;
    font-family: "Chewy", cursive;
    font-size: 2rem;
    color: white;
    background-color: rgb(61, 163, 189);
    border: none;
    -webkit-box-shadow: 0px 3px 6px 0px #969696;
    -moz-box-shadow: 0px 3px 6px 0px #969696;
    box-shadow: 0px 3px 6px 0px #969696;
}

#button_start:hover {
    transition: 0.2s;
    padding: 2rem;
    border-radius: 50px;
    font-family: "Chewy", cursive;
    font-size: 2.2rem;
    color: white;
    background-color: rgb(61, 189, 129);
    border: none;
}

#jeux {
    font-family: 'Chewy', cursive;
    color: #707070;

    max-height: 68vh;
    margin-top: 20vh;
}

#jeux h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 11rem auto 2rem auto;
}

#jeux #containerDevinette {
    display: flex;
    justify-content: space-evenly;
}

#jeux #container_origine_answers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#jeux #answerContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p {
    margin: 1rem auto auto auto;
    font-size: 1.4rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
}

#jeux .display_img_origine_answers {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px 0px #969696;
    -moz-box-shadow: 0px 3px 6px 0px #969696;
    box-shadow: 0px 3px 6px 0px #969696;
}

#jeux .img_origine_answers {
    max-height: 6rem;
}

#game_question {
    font-family: 'Roboto-Bold', sans-serif;
    color: rgb(53, 53, 53);
}

.answerDisplay1 {
    position: absolute;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 0px #464646;
    -moz-box-shadow: 0px 3px 6px 0px #464646;
    box-shadow: 0px 3px 6px 0px #464646;

    width: 30rem;
    height: 10rem;

    border-radius: 15px;
    opacity: 1;
}

.answerDisplay2 {
    position: absolute;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 0px #464646;
    -moz-box-shadow: 0px 3px 6px 0px #464646;
    box-shadow: 0px 3px 6px 0px #464646;

    width: 30rem;
    height: 20rem;

    border-radius: 15px;
    opacity: 1;
}

.answerDisplay1 img, .answerDisplay2 img {
    height: 6rem;
    padding: 2rem 40% 1rem;
}

.answerh4 {
    font-size: 2rem;
}

#goodAnswer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color:rgba(88, 138, 70, 0.8);
}

#badAnswer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(124, 62, 62, 0.8);
}

#bad {
    height: 9rem;
    position: relative;
    right: 10rem;
    bottom: 22rem;
    padding: 0;
}

#phint {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(132, 200, 255, 0.8);
}

.buttonAnswer1 {
    position: relative;
    top: -10.5rem;
    left: 14rem;
    z-index: 3;
}

.buttonAnswer2 {
    position: relative;
    top: -11.5rem;
    left: 27rem;
    z-index: 3;
}

.buttonAnswer1 img, .buttonAnswer2 img, .buttonAnswer3 img{
    padding: 0;
}

#bravo {
    position: relative;
    top: -11rem;
    left: -7rem;
    height: 12rem;
    padding: 0;
    z-index: 4;
}

#info {
    position: relative;
    top: -10rem;
    left: -6rem;
    height: 10rem;
    padding: 0;
    z-index: 4;
}

#scoreDisplay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(132, 200, 255, 0.8);
}

.endGame {
    position: absolute;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 0px #464646;
    -moz-box-shadow: 0px 3px 6px 0px #464646;
    box-shadow: 0px 3px 6px 0px #464646;

    width: 30rem;
    height: 8rem;

    border-radius: 15px;
    opacity: 1;
}

.buttonAnswer3 {
    position: relative;
    top: -10em;
    left: 27.5rem;
    z-index: 3;
}

.buttonAnswer4 {
    position: relative;
    top: -6em;
    left: 16rem;
    z-index: 3;
}

#thumbsup {
    position: relative;
    top: -13rem;
    left: -8rem;
    z-index: 3;
    height: 10rem;
    transform: rotate(-20deg);
}

#rbin {
    position: fixed;
    top: 80vh;
    left: 70vw;
    z-index: 1;
    height: 10rem;
}

#hint {
    position: fixed;
    top: 70vh;
    left: 75vw;
    z-index: 1;
}


#hint img {
    height: 4rem;
}

.bg_nature {
    width: 100vw;
}

.bg_nature img {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100vw;
}
