<section class="signup">
    <form class="form_signup" method="post">
        <h2>S'enregistrer</h2>
        <p *ngIf="pseudoError">Ce pseudo est déjà utilisé.</p>
        <p *ngIf="differentPasswords  || password != passwordConfirm">Les deux mots de passe sont différents.</p>
        <p *ngIf="invalidPseudo">Le pseudo ne doit pas contenir de caractères spéciaux.</p>
        <p *ngIf="password.length < 6 || passwordConfirm.length < 6">Le mot de passe doit contenir au moins 6 caractères.</p>

        <div class="element-input">
            <div class="item-cont"><img src="./../../assets/img/user.svg" class="img-item" alt="icone pseudo"></div>
            <input [(ngModel)]="pseudo" class="large input" type="text" name="input" required="required" placeholder="Pseudo" />
        </div>

        <div class="element-password">
            <div class="item-cont "><img src="./../../assets/img/padlock.svg" class="img-item" alt="icone pseudo"></div>
            <input [(ngModel)]="password" class="large input" type="password" name="password" value="" required="required" placeholder="Mot de passe" />
        </div>

        <div class="element-password">
            <div class="item-cont"><img src="./../../assets/img/padlock.svg" class="img-item" alt="icone pseudo"></div>
            <input [(ngModel)]="passwordConfirm" class="large input" type="password" name="password_confirm" value="" required="required" placeholder="Confirmartion de mot de passe" />
        </div>

        <a class="submit" id="jaune" (click)="signup()"><img src="./../../assets/img/arrow.svg" alt="submit"></a>

    </form>
</section>