.signup{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form_signup {  
    background-image: url(./../../assets/img/petiteilesign.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: bottom;
    
}

input {
    outline: none;
    -webkit-appearance: none;
    border: none;
    padding-inline-start: 1rem;
    height: 8vh;
    width: 30vw;
    margin: 0 1rem 0 0;
    font-size: 1rem;
}

#jaune {
    position: absolute;
    right: 10%;
    top: 55%;
}

#jaune img {
    animation: bounce 4s infinite;
}

@keyframes bounce {
    0% { height: 6rem; }
    5% { height: 8rem; }
    10% { height: 6rem; }
    100% { height: 6rem; }
}

form{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
h2  {
    font-family: 'Chewy', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

.element-input {

    margin: 0.2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    border: 1.1px solid #707070;
    background-color: white;
}

.element-password {

    margin: 0.2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    border: 1.1px solid #707070;
    background-color: white;
}

.item-count {
    padding: 0.6rem;
    margin: 0;
}

.img-item {
    padding: 0.6rem;
    height: 2.5rem;
}