#choice {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;

    margin-top: 35vh;
    width: 100%;
    height: 100%;
}

.choice_img {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.choice_img img {
    height: 30vh;
    border-radius: 50%;

    -webkit-box-shadow: 0px 3px 6px 0px #858585;
    -moz-box-shadow: 0px 3px 6px 0px #858585;
    box-shadow: 0px 3px 6px 0px #858585;
}

.choice_img p {
    text-align: center;
    font-size: 1.6rem;
    color: rgb(77, 77, 77);
}

.choice_icon {
    transition: height 0.2s;
}

.choice_a:hover .choice_icon {
    transition: height 0.2s;
    height: 33vh;
}

.bg_nature {
    width: 100vw;
}

.bg_nature img {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100vw;
}
