<section id="choice_section">
    <div id="choice">
    <div class="choice_img"><a routerLink="/signin" class="choice_a"><img src="../../assets/img/key_login.svg" alt="icone de connexion" class="choice_icon"></a><p>Se Connecter</p></div>
    <div class="choice_img"><a routerLink="/signup" class="choice_a"><img src="../../assets/img/notes_register.svg" alt="icone de creation de compte" class="choice_icon"></a><p>Créer un compte</p></div>
    </div>
    <div class="bg_nature">
        <img id="nature" src="./../../assets/img/nature_tree.svg" alt="illustration nature">
    </div>
</section>