<section class="user">
    <a class="dc" (click)="disconnect()"><img src="./../../assets/img/logout.svg" alt="logout"></a>
    <h2 *ngIf="user">Profil de {{ this.user.pseudo }}</h2>
    <img *ngIf="user" class="user_avatar" src="{{user.avatar}}" alt="avatar">
    <div *ngIf="user" class="element-input"><label class="Class"></label>
        <div class="item-cont">
            <select name="avatar" id="select_avatar" [(ngModel)]="this.user.avatar">
                <option *ngFor="let avatar of avatars" value="{{avatar.path}}">
                    {{avatar.name}}
                </option>
            </select>
        </div>
    </div>

    <form class="form_edit" method="post">
        <h4>Modifie ici ton profil</h4>
        <p *ngIf="modified">Tes informations ont été modifiées !</p>
        <div *ngIf="user" class="element-input"><label class="School"></label>
            <div class="item-cont"><input [(ngModel)]="user.school" class="large input" type="text" name="school"
                    required="required" placeholder="école" /></div>
        </div>
        <div *ngIf="user" class="element-input"><label class="Class"></label>
            <div class="item-cont"><input [(ngModel)]="user.class" class="large input" type="text" name="class"
                    required="required" placeholder="classe" /></div>
        </div>

        <div *ngIf="user" class="element-password"><label class="Password"></label>
            <div class="item-cont"><input [(ngModel)]="password" class="large input" type="password" name="password"
                    value="" required="required" placeholder="changer son mot de passe" /></div>
            <p *ngIf="passwordTooShort || password.length < 6"
                style="color: rgb(255, 255, 255); font-family: 'Roboto', sans-serif; font-weight: 700; margin-top: 2rem; text-shadow: 0px 3px 6px 0px #444444;">
                Le mot de passe doit contenir au moins 6 caractères !</p>
        </div>

        <a class="submit" id="jaune" (click)="edit()"><img src="./../../assets/img/arrow.svg" alt="submit"></a>
    </form>
</section>

<div class="score_display">
    <h4>Derniers scores</h4>
    <ul>
        <p *ngFor="let score of getLastScores(3)"><span>{{ score.valeur_score }}/10</span> le {{ score.date_score }}</p>
    </ul>
</div>