h2, h4, p {
    font-family: 'Roboto', sans-serif;
}

.user {
    background-image: url(./../../assets/img/petiteile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20vh;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.input {
    height: 8vh;
    width: 50%;
    border-radius: 0.6rem;
    border: 1.1px solid #707070;
    -webkit-appearance: none;
    font-size: 1.6rem;
    color: #707070;
    margin: 0 1rem 0 0;
    padding-inline-start: 1rem;
}

.user_avatar {
    height: 15rem;
    margin: 1.2rem 1.2rem;
}

.dc {
    width: 7rem;
    position: absolute;
    left: 20%;
    top: 28.5%;
}

.dc img {
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px 0px #969696;
    -moz-box-shadow: 0px 3px 6px 0px #969696;
    box-shadow: 0px 3px 6px 0px #969696;
}

#jaune {
    position: absolute;
    right: 10%;
    top: 70%;
}

.element-input {
    padding-bottom: 1rem;
}

.score_display {
    padding: 4% 0 5% 0;
    background-color: #3C8580;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.score_display h4 {
    color: white;
    font-family: "Chewy", cursive;
    font-size: 2rem;
}

.score_display ul {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.score_display ul p span{
    color: white;
    padding-right: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}