/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');

@font-face {
    font-family: 'Chewy';
    src: url('./assets/font/Chewy/Chewy-Regular.ttf') format('truetype'); //j'avais écrit trutype...
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}

html {
    font-family: 'Chewy';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}